$sidebar-color: #0d2222;
$primary-color: #111b21;
$text-muted: #FFFFFF99;
$text-light: #e9edef;
$nav-primary-color: #202c33;
$nav-secondary-color: #2a3942;
$icon-color: #aebac1;
$hover-color: rgba($nav-primary-color, 0.6);
$border-color: rgba(#fff,.10);
$primary-green: #005C4B;

